.about__title {
  font-family: "Oswald", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: @text-black;
  text-align: center;
}

.about__subtitle {
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @text-grey;
}

.about__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
