.about {
  padding: 0 20px 42px 20px;
  margin-top: 27px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    padding: 0 30px 0 30px;
    margin-top: 45px;
    border-bottom: solid 2px @grey-border;
  }

  @media (min-width: @desktop-width) {
    padding: 0 100px 0 110px;
    margin-top: 71px;
    border: none;
    margin-bottom: 11px;
  }
}

.about__title {
  font-family: "Oswald", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: @text-black;
  padding: 0;
  margin: 0;
  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 30px;
  }
}

.about__subtitle {
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @text-grey;
  margin: 0;
  padding: 0;
  padding-top: 2px;

  @media (min-width: @tablet-width) {
    margin-top: 30px;
    font-size: 16px;
    line-height: 24px;
  }
}

.about__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (max-width: @mobile-width-only) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 37px;
    grid-column-gap: 59px;
    margin-bottom: 43px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 68px;
    margin-bottom: 0;
  }
}

.about__item {
  margin-bottom: 20px;
  padding-left: 80px;
  position: relative;
  min-height: 60px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    padding: 40px 0 57px 0;
    margin: 0;
  }

  &--nutrition::after {
    content: "1";
    display: none;
    font-family: "Oswald", "Tahoma", sans-serif;
    font-size: 280px;
    line-height: 280px;
    color: @light-grey;

    @media (min-width: @tablet-width) {
      display: block;
      position: absolute;
      top: 0;
      left: 118px;
      z-index: -1;
    }
  }

  &--nutrition::before {
    content: "";
    width: 60px;
    height: 60px;
    background-image: url("../../img/icon-nutrition-small.svg");
    position: absolute;
    left: 0;
    top: 0;

    @media (min-width: @tablet-width) {
      width: 80px;
      height: 80px;
      background-position: center;
      background-repeat: no-repeat;
      background-color: @basic-green;
      position: initial;
      display: block;
    }
  }

  &--powder::after {
    content: "2";
    font-family: "Oswald", "Tahoma", sans-serif;
    font-size: 280px;
    line-height: 280px;
    color: @light-grey;
    display: none;

    @media (min-width: @tablet-width) {
      display: block;
      position: absolute;
      top: 0;
      left: 112px;
      z-index: -1;
    }
  }

  &--powder::before {
    content: "";
    width: 60px;
    height: 60px;
    background-image: url("../../img/icon-powder-small.svg");
    position: absolute;
    left: 0;
    top: 0;

    @media (min-width: @tablet-width) {
      width: 80px;
      height: 80px;
      background-position: center;
      background-repeat: no-repeat;
      background-color: @basic-green;
      position: initial;
      display: block;
    }
  }

  &--meal::after {
    content: "3";
    font-family: "Oswald", "Tahoma", sans-serif;
    font-size: 280px;
    line-height: 280px;
    color: @light-grey;
    display: none;

    @media (min-width: @tablet-width) {
      display: block;
      position: absolute;
      top: 0;
      left: 113px;
      z-index: -1;
    }
  }

  &--meal::before {
    content: "";
    width: 60px;
    height: 60px;
    background-image: url("../../img/icon-meal-small.svg");
    position: absolute;
    left: 0;
    top: 0;

    @media (min-width: @tablet-width) {
      width: 80px;
      height: 80px;
      background-position: center;
      background-repeat: no-repeat;
      background-color: @basic-green;
      position: initial;
      display: block;
    }
  }

  &--time::after {
    content: "4";
    font-family: "Oswald", "Tahoma", sans-serif;
    font-size: 280px;
    line-height: 280px;
    color: @light-grey;
    display: none;

    @media (min-width: @tablet-width) {
      display: block;
      position: absolute;
      top: 0;
      left: 113px;
      z-index: -1;
    }
  }

  &--time::before {
    content: "";
    width: 60px;
    height: 60px;
    background-image: url("../../img/icon-time-small.png");
    position: absolute;
    left: 0;
    top: 0;

    @media (min-width: @tablet-width) {
      width: 80px;
      height: 80px;
      background-position: center;
      background-repeat: no-repeat;
      background-color: @basic-green;
      position: initial;
      display: block;
    }
  }

  @media (min-width: @tablet-width) {
    max-width: 250px;
  }
}
