.changes {
  margin-top: 13px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 67px;
  }
}

.changes__button {
  font-family: "Oswald", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: @text-black;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;

  &:hover {
    border-bottom: solid 1px rgba(0, 0, 0, 0.4);
  }

  &:active {
    border-bottom: none;
  }

  @media (min-width: @tablet-width) {
    border-bottom: dotted 1px @special-grey;
    padding: 4px 0 4px 0;
  }
}
