.footer-contacts__invite {
  font-family: "Oswald", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: @text-black;
  text-transform: uppercase;
  text-align: center;
}

.footer-contacts__adress {
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: @text-grey;
}
