.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-right: -24px;

  &::after {
    content: "";
    display: block;
    width: 24px;
  }

  @media (min-width: @tablet-width) {
    margin-top: 3px;
  }
}

.logo__image {
  width: 33px;
  height: 37px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.logo__image--tablet {
  display: none;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: @tablet-width) {
    display: block;
    margin-top: -5px;
    margin-left: -4px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.logo__image--desktop {
  display: none;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: @desktop-width) {
    display: block;
    width: 224px;
    height: 60px;
  }
}

.logo__name {
  position: absolute;
  top: 25px;
  left: 109px;

  @media (min-width: @tablet-width) {
    display: none;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
