.main-navigation__list {
  list-style-type: none;
}

.main-navigation__item {
  font-family: "Oswald", "Tahoma", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: @text-black;
}

.main-navigation__link {
  font-family: "Oswald", "Tahoma", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  color: @text-black;
  text-transform: uppercase;
}
