.main-navigation {

}

.main-navigation__toggle {

}

.main-navigation__list {
  list-style-type: none;
}

.main-navigation__item {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: @text-black;
}

.main-navigation__link {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: @text-black;
}
