.page-header {
  z-index: 1;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.page-header__top {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.page-header__button {
  display: block;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
