.product {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;

  &:first-of-type {
    @media (max-width: @mobile-width-only) {
      border-top: 1px solid @basic-grey;
    }
  }

  @media (max-width: @mobile-width-only) {
    border-bottom: 1px solid @basic-grey;
    padding: 20px 20px 25px 20px;
  }

  @media (min-width: @tablet-width) {
    background-color: @light-grey;
    flex-direction: column;
    align-items: center;
    padding: 40px 36px;
  }

  @media (min-width: @desktop-width) {
    padding: 40px;
  }
}

.product__link {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 112px;
  padding: 10px;

  @media (min-width: @tablet-width) {
    padding: 0;
    width: auto;
    height: auto;
    margin: 0 auto;
    margin-bottom: 34px;
    margin-top: -112px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 46px;
    margin-top: -120px;
  }
}

.product__image {
  @media (max-width: @mobile-width-only) {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.product__info {
  width: 50%;

  @media (min-width: @tablet-width) {
    width: 100%;
  }
}

.product__title {
  font-family: "Oswald", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @text-darkgrey;
  text-decoration: none;
  margin-bottom: 14px;
  display: inline-block;
  width: 76px;

  @media (min-width: @tablet-width) {
    text-align: center;
    width: 100%;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 21px;
  }

  @media (min-width: @desktop-width) {
    line-height: 21px;
    width: 145px;
  }
}

.product__properties {
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: @text-grey;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 16px;
  }
}

.product__property {
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    padding-bottom: 9px;
    border-bottom: solid 1px @special-grey;
    margin-bottom: 7px;
  }
}

.product__button {
  margin-top: 13px;
  background-color: @basic-green;
  color: @basic-white;
  font-family: "Oswald", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;

  &:hover {
    background-color: @icon-green;
  }

  &:active {
    background-color: @icon-green;
    color: rgba(225, 225, 225, 30%);
  }

  @media (min-width: @tablet-width) {
    margin-top: auto;
  }
}
