.product {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  position: relative;

  &:first-of-type {
    @media (max-width: @mobile-width-only) {
      border-top: 1px solid @basic-grey;
    }
  }

  @media (max-width: @mobile-width-only) {
    border-bottom: 1px solid @basic-grey;
    padding: 20px 20px 24px 20px;
  }

  @media (min-width: @tablet-width) {
    background-color: @light-grey;
    flex-direction: column;
    align-items: center;
    padding: 161px 36px 39px 38px;
  }

  @media (min-width: @desktop-width) {
    padding: 163px 31px 40px 32px;
  }
}

.product__link {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 112px;
  padding: 10px;
  margin-top: 2px;

  @media (min-width: @tablet-width) {
    padding: 0;
    width: auto;
    height: auto;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 46px;
    margin-top: -120px;
  }

  &--chicken-500-tab {
    @media (min-width: @tablet-width) {
      position: absolute;
      top: -74px;
      left: 50%;
      transform: translate(-50%);
    }

    @media (min-width: @desktop-width) {
      top: 40px;
    }
  }

  &--chicken-1000-tab {
    @media (min-width: @tablet-width) {
      position: absolute;
      top: -81px;
      left: 50%;
      transform: translate(-50%);
    }

    @media (min-width: @desktop-width) {
      top: 31px;
    }
  }

  &--fish-500-tab {
    @media (min-width: @tablet-width) {
      position: absolute;
      top: -67px;
      left: 50%;
      transform: translate(-50%);
      width: 163px;
      height: 174px;
    }

    @media (min-width: @desktop-width) {
      top: 46px;
    }
  }

  &--fish-1000-tab {
    @media (min-width: @tablet-width) {
      position: absolute;
      top: -80px;
      left: 50%;
      transform: translate(-50%);
    }

    @media (min-width: @desktop-width) {
      top: 31px;
    }
  }

  &--buckwheat-500-tab {
    @media (min-width: @tablet-width) {
      position: absolute;
      top: -97px;
      left: 50%;
      transform: translate(-50%);
    }

    @media (min-width: @desktop-width) {
      top: 16px;
    }
  }

  &--buckwheat-1000-tab {
    @media (min-width: @tablet-width) {
      position: absolute;
      top: -80px;
      left: 50%;
      transform: translate(-50%);
    }

    @media (min-width: @desktop-width) {
      top: 30px;
    }
  }

  &--rise-tab {
    @media (min-width: @tablet-width) {
      position: absolute;
      top: -90px;
      left: 50%;
      transform: translate(-50%);
    }

    @media (min-width: @desktop-width) {
      top: 21px;
    }
  }
}

.product__image {
  @media (max-width: @mobile-width-only) {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &--chicken-1000-mob {
    margin-top: 9px;
  }

  &--fish-500-mob {
    margin-top: 17px;

    @media (min-width: @tablet-width) {
      height: auto;
    }
  }

  &--fish-1000-mob {
    margin-top: 9px;
  }

  &--buckwheat-500-mob {
    margin-top: 24px;
  }

  &--buckwheat-1000-mob {
    margin-top: 10px;
  }

  &--rise-500-mob {
    margin-top: 18px;
  }
}

.product__info {
  width: 50%;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    width: 100%;
    margin-bottom: 24px;
    align-items: center;
  }
}

.product__title {
  font-family: "Oswald", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @text-darkgrey;
  text-decoration: none;
  margin-bottom: 14px;
  display: inline-block;
  width: 76px;
  max-width: 140px;

  @media (min-width: @tablet-width) {
    text-align: center;
    width: 100%;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 21px;
  }

  @media (min-width: @desktop-width) {
    line-height: 21px;
    width: 145px;
    margin-bottom: 25px;
    padding: 0 0 0 8px;
  }
}

.product__properties {
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: @text-grey;
  margin: 0;
  width: 100%;

  @media (min-width: @tablet-width) {
    font-size: 16px;
  }
}

.product__property {
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    padding-bottom: 7px;
    border-bottom: solid 1px @special-grey;
    margin-bottom: 8px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 5px 7px 9px;
  }
}

.product__button {
  margin-top: 10px;
  background-color: @basic-green;
  color: @basic-white;
  font-family: "Oswald", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;

  &:hover {
    background-color: @icon-green;
  }

  &:active {
    background-color: @icon-green;
    color: rgba(225, 225, 225, 30%);
  }

  @media (min-width: @tablet-width) {
    margin-top: auto;
  }

  @media (min-width: @desktop-width) {
    width: 92%;
  }
}
