.product-card {
  box-sizing: border-box;
  border-bottom: 1px solid @special-grey;
  padding: 13px 0 17px 0;

  &:first-of-type {
    border-top: 1px solid @special-grey;
  }

  @media (min-width: @tablet-width) {
    border-left: 1px solid @special-grey;
    border-right: 1px solid @special-grey;
    padding: 26px 37px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-left: none;
    border-right: none;
    padding: 15px 0;
  }
}

.product-card__title {
  font-family: "Oswald", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: @text-darkgrey;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 13px;

  @media (min-width: @tablet-width) {
    margin-bottom: 26px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    width: 324px;
  }
}

.product-card__info {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    flex: 1;
    justify-content: start;
  }
}

.product-card__property {
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: @text-grey;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 15px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    text-align: left;
  }
}

.product-card__count {
  @media (min-width: @tablet-width) {
    margin-top: 3px;
  }

  @media (min-width: @desktop-width) {
    width: 244px;
  }
}

.product-card__price {
  @media (min-width: @tablet-width) {
    margin-top: 3px;
    margin-left: 50px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }

  &--small {
    margin-left: 60px;
  }
}

.product-card__button {
  background-color: @basic-green;
  color: @basic-white;
  font-family: "Oswald", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 10px;

  &:hover {
    background-color: @icon-green;
  }

  &:active {
    background-color: @icon-green;
    color: rgba(225, 225, 225, 30%);
  }

  @media (min-width: @desktop-width) {
    width: 244px;
    margin-left: 20px;
  }
}
