.promo {
  background: linear-gradient(180deg, rgba(104, 183, 56, 1) 63%, rgba(255, 255, 255, 1) 63%);
  height: 480px;
}

.promo__description {
  background-image: url("../../img/green-cat.png");
  background-repeat: no-repeat;
  background-position: top;
  height: 302px;
}

.promo__title {
  font-family: "Oswald", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: @text-white;
  text-align: center;
}

.promo__subtitle {
  font-family: "Oswald", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: @text-white;
  text-align: center;
}

.promo__button {
  background-image: url("../../img/orange-bank.png");
  background-repeat: no-repeat;
  height: 313px;
  margin-top: -135px;
}

.promo__link {
  font-family: "Oswald", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: @text-white;
  background-color: @basic-green;
}
