.promo {
  min-height: 480px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    min-height: auto;
    padding: 62px 0 526px 117px;
  }

  @media (min-width: @desktop-width) {
    padding: 223px 0 173px 190px;
  }
}

.promo::before {
  z-index: -1;
  display: block;
  content: "";
  background: @green-cat url("../../img/green-cat-1x.png") no-repeat top center;
  background-size: cover;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 62%;

  @media (min-resolution: 2dppx) {
    background: @green-cat url("../../img/green-cat-2x.png") no-repeat top center;
    background-size: cover;
  }

  @media (min-width: @tablet-width) {
    background: none;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    right: 0;
    top: 0;
    background: @green-cat url("../../img/green-cat-desktop-1x.png") no-repeat center right;
    background-size: cover;
    width: 50%;
    height: 100%;
  }

  @media (min-resolution: 2dppx) and (min-width: @desktop-width) {
    background: @green-cat url("../../img/green-cat-desktop-2x.png") no-repeat center right;
    background-size: cover;
  }
}

.promo__description {
  padding: 23px 35px 0 35px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    width: 50%;
  }
}

.promo__title {
  font-family: "Oswald", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: @text-white;
  text-align: center;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    color: @text-black;
    text-align: start;
    font-size: 60px;
    line-height: 60px;
    max-width: 450px;
  }
}

.promo__subtitle {
  font-family: "Oswald", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: @text-white;
  text-align: center;
  margin: 0;
  margin-top: 25px;
  padding: 0;

  @media (min-width: @tablet-width) {
    color: @text-black;
    text-align: start;
    font-size: 20px;
    line-height: 20px;
    margin-top: 41px;
  }
}

.promo__link {
  font-family: "Oswald", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: @text-white;
  background-color: @basic-green;
  margin: 0 20px 0 20px;
  padding: 7px 0 7px 0;

  &:hover {
    background-color: @icon-green;
  }

  &:active {
    background-color: @icon-green;
    color: rgba(225, 225, 225, 30%);
  }

  @media (min-width: @tablet-width) {
    width: 244px;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    margin-top: 49px;
    padding: 14px 0 14px 0;
    position: relative;
    z-index: 1;
  }
}

.promo__image {
  margin: 0 auto;
  margin-top: 29px;

  @media (min-width: @tablet-width) {
    position: absolute;
    transform: none;
    width: 709px;
    height: 609px;
    top: 236px;
    right: 70px;
  }

  @media (min-width: @desktop-width) {
    width: 552px;
    height: 499px;
    position: absolute;
    top: 141px;
    right: 50%;
    transform: translateX(70%);
  }
}
