.targets {
  padding: 0 20px 0 20px;
  margin-top: 22px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0 30px 0 30px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 82px;
    padding: 0 110px 0 110px;
  }
}

.targets__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.targets__item {
  background-color: @light-grey;
  margin-bottom: 20px;
  position: relative;
  padding: 21px 33px 18px 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    padding: 77px 0 53px 53px;
  }

  @media (min-width: @desktop-width) {
    padding: 77px 51px 55px 52px;
    margin-bottom: 0;
  }

  &--slim::before {
    content: " ";
    background-image: url("../../img/cat-slim.svg");
    width: 50px;
    height: 53px;
    position: absolute;
    top: 21px;
    left: 22px;

    @media (min-width: @tablet-width) {
      display: none;
    }

    @media (min-width: @desktop-width) {
      display: block;
      position: absolute;
      top: 41px;
      left: 52px;
      width: 100px;
      height: 106px;
      background-size: cover;
    }
  }

  &--weight::before {
    content: "";
    background-image: url("../../img/cat-weight.svg");
    width: 67px;
    height: 50px;
    position: absolute;
    left: 13px;

    @media (min-width: @tablet-width) {
      display: none;
    }

    @media (min-width: @desktop-width) {
      display: block;
      position: absolute;
      left: 33px;
      top: 47px;
      width: 134px;
      height: 100px;
      background-size: cover;
    }
  }
}

.targets__title {
  font-family: "Oswald", "Tahoma", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 37px;
  color: @text-black;
  margin: 0;
  margin-bottom: 29px;
  padding-left: 69px;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin-bottom: 24px;
    max-width: 377px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 162px;
    margin-bottom: 73px;
  }
}

.targets__subtitle {
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @text-grey;
  margin: 0;
  padding: 0;
  padding-bottom: 23px;
  border-bottom: solid 1px @light-grey-border;
  margin-bottom: 15px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    padding-right: 270px;
    margin-bottom: 48px;
    border: none;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 23px;
    padding: 0;
  }
}

.targets__link {
  font-family: "Oswald", "Tahoma", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: @text-black;
  position: relative;
  width: fit-content;
  margin-top: auto;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &:active {
    opacity: 0.3;
  }

  &::after {
    content: "";
    position: absolute;
    width: 32px;
    height: 10px;
    background-image: url("../../img/icon_arrow.svg");
    background-repeat: no-repeat;
    top: 2px;
    right: -47px;

    @media (min-width: @tablet-width) {
      top: 8px;
      right: -47px;
    }
  }
}

.targets__link:hover::after {
  background-image: url("../../img/icon-arrow-long.svg");
}

.targets__link:active::after {
  background-image: url("../../img/icon-arrow-long.svg");
  opacity: 0.3;
}

.targets__image {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    position: absolute;
    top: 81px;
    right: 62px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }

  &--weight {
    @media (min-width: @tablet-width) {
      top: 91px;
      right: 28px;
    }
  }
}
