.user-contacts {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 74px;
  }
}

.user-contacts__item,
.user-contacts__input::placeholder {
  font-family: "Oswald", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @text-grey;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.user-contacts__item {
  display: flex;
  width: 100%;
  align-items: baseline;
  margin-bottom: 14px;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  // &--mail::after {
  //   content: "";
  //   display: block;
  //   background-image: url("../../img/mail.svg");
  //   background-repeat: no-repeat;
  //   width: 19px;
  //   height: 14px;
  //   position: absolute;
  //   top: 17px;
  //   right: 16px;

  //   @media (min-width: @tablet-width) {
  //     top: 20px;
  //     right: 20px;
  //   }
  // }

  // &--tel::after {
  //   content: "";
  //   display: block;
  //   background-image: url("../../img/phone.svg");
  //   background-repeat: no-repeat;
  //   width: 21px;
  //   height: 21px;
  //   position: absolute;
  //   top: 13px;
  //   right: 13px;

  //   @media (min-width: @tablet-width) {
  //     top: 17px;
  //     right: 16px;
  //   }
  // }

  @media (min-width: @tablet-width) {
    margin-bottom: 18px;
  }
}

.user-contacts__item label {
  min-width: fit-content;
  margin-right: 10px;

  @media (min-width: @tablet-width) {
    margin-right: 19px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 20px;
  }
}

.user-contacts__item-tel label {
  @media (min-width: @tablet-width) {
    margin-right: 15px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 16px;
  }
}

.user-contacts__input {
  width: 100%;
  border: solid 1px @grey-border-light;
  box-sizing: border-box;
  padding: 13px 15px 13px 15px;
  outline: none;

  &:hover {
    border: solid 1px @special-grey;
  }

  &:focus {
    border: 2px solid @text-grey;
  }

  &:invalid {
    border: 2px solid @red;
  }

  @media (min-width: @tablet-width) {
    padding: 10px 21px 10px 21px;
    font-size: 20px;
    line-height: 30px;
  }
}

.user-contacts__image-mail {
  position: absolute;
  top: 13px;
  right: 15px;

  @media (min-width: @tablet-width) {
    top: 19px;
    right: 19px;
  }
}

.user-contacts__image-tel {
  position: absolute;
  top: 10px;
  right: 13px;

  @media (min-width: @tablet-width) {
    top: 16px;
    right: 17px;
  }
}
