.user-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.user-list__input,
.user-list__input::placeholder {
  font-family: "Oswald", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @text-grey;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.user-list__item {
  display: flex;
  align-items: baseline;
  font-family: "Oswald", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @text-grey;
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 30px;
  }
}

.user-list__item label {
  margin-right: 13px;
  width: fit-content;
}

.user-list__input {
  width: 100%;
  box-sizing: border-box;
  border: solid 1px @grey-border-light;
  padding: 14px 15px 13px 15px;
  outline: none;

  &:hover {
    border: solid 1px @special-grey;
  }

  &:focus {
    border: 2px solid @text-grey;
  }

  &:invalid {
    border: 2px solid @red;
  }

  @media (min-width: @tablet-width) {
    padding: 10px 19px 11px 19px;
  }
}
